<form>
  <div>
    <label for="name">Name</label>
    <input required minlength="3" pattern="123" ngModel name="name" #name="ngModel" (change)="log(name)" type="text" id="name">
    <div *ngIf="name.touched">
      <p *ngIf="name.errors?.required">Name is required</p>
      <p *ngIf="name.errors?.minlength">Name is to short</p>
      <p *ngIf="name.errors?.pattern">Not match</p>
    </div>
  </div>
  <div>
    <label for="ean">Ean</label>
    <input ngModel name="ean" #ean="ngModel" (change)="log(ean)" type="text" id="ean">
  </div>
  <button (click)="addProduct()">Add</button>
</form>